.column-middle {
    width:33%;
    display: inline-block;
    margin-bottom: 10px;
    height:240px;
    margin-top:10px;
}

.story-wrapper{
    height: 227px;
    overflow-y: scroll;
    text-align: text-top;
}
